<a href="https://colab.research.google.com/github/NaYeong12/nayeong/blob/main/Nayeong.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [27]:
a=[[1,2,3,4,5],[2,4,6,8,10]]
dff=pd.DataFrame(a)
dff.to_excel('a.xlsx')

In [33]:
import pandas as pd
df=pd.read_csv('student.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   height  4 non-null      float64
 1   weight  4 non-null      int64
dtypes: float64(1), int64(1)
memory usage: 192.0 bytes

In [42]:
ddf=pd.read_csv('Student_Marks.csv')
ddf.isnull().sum()

number_courses    0
time_study        0
Marks             0
dtype: int64